:root{
    --cor1: #094D84;
    --cor2: #210FDB;
    --cor3: #103FDC;
    --cor4: #0FC0DB;
    --cor5: #5877DB;
}
nav{
    color: var(--cor4);
    background: var(--cor1);
    padding: 10px 0px;
}
nav h1{
    text-align: center;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    width: 100px;
    margin: auto;
    padding: 5px 0px;
    background: var(--cor2);
    border-radius: 0px 10px;
}
.card{
    display: flex;
    margin: 5%;
    flex-wrap: wrap;
    border: 1px solid #000;
    background: var(--cor3);
    border-radius: 10px;
}
.ola{
    flex: 20%;
    height: 100px;
    background: red;
    border: 1px solid #000;
    margin: 10px;
    cursor: pointer;
}
.ola:hover{
    border: 1px solid var(--cor4);
}
p{
   text-align: center;
}
.um{
    width: 100%;
    height: 100%;
}
.cor{
    color: #fff;
    border-bottom: 1px solid #000;
    margin-left: 10px;
}
.pprincipal{
    border-bottom: 2px solid #000;
    width: 140px;
    text-align: center;
    margin: auto auto;
    margin-top: 10px;
}
footer{
    background-color: var(--cor1);
    padding-bottom: 4px;
    padding-top: 10px;
    margin-top: 115px;
    border-top: 2px solid var(--cor5);
}
.pai{
    flex-wrap: wrap;
    display: flex;
    margin: 0px 4%;
}
.filho{
    width: 40%;
    color: #fff;
    margin-left: 1%;
}
.link{
    color: #fff;
    background: var(--cor5);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid var(--cor4);
}
.link:hover{
    background: var(--cor2);
    color: 2px solid var(--cor5);
}
.resete{
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    cursor: pointer;
}
.resete:hover{
    background: var(--cor4);
}
.b{
    width: 50px;
    height: 40px;
    background: var(--cor3);
    border: 1px solid var(--cor3);
}
.b1{
    display: none;
}
.butao{
    width: 100%;
}
@media (max-width: 768px) {
    .di{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .cor{
        flex: 70%;
    }
    .resete{
        flex: 20%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .di{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .cor{
        flex: 70%;
    }
    .resete{
        flex: 20%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .di{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .cor{
        flex: 70%;
    }
    .resete{
        flex: 20%;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) { /* Corrigido */
    .di{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .cor{
        flex: 70%;
    }
    .resete{
        flex: 20%;
    }
}

@media (min-width: 1400px) {
    .ola { /* Corrigido */
        flex: 13%;
    }
    .di{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .cor{
        flex: 70%;
    }
    .resete{
        flex: 20%;
    }
}